#container{
  /*Família s Fonte */
  font-family: "Tahoma", serif;
  background-color:#f1f1f1;
  margin-left:20%;
  margin-right:20%;
  height:600px;
}

#menu-vert{
  padding: 0px;
}
#menu-vert li{
  display: inline;
  padding-left:10%;
  color:#fff;
  font-weight: bold;
}
#menu-vert li a{
    text-decoration: none;
    padding: 3%;
    color:#fff;
    transition: color 2s;
}
#menu-vert li a:VISITED{
  color:#fff;
    text-decoration: none;
}
#menu-vert a:LINK{
  color:#fff;
}
#menu-vert a:HOVER{
 color:#1e1d1d;
 background-color: #fff;
}


.nav-top{
  background-color: #1e1d1d;
  border-radius:5px;
  padding: 0.1%;
}
.img-logo{
  width:20%;
}
